@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

img {
    width: 80px;
}

.nav-logo {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text {
    margin-left: -1.4rem;
    font-size: 28px;
    color: lightseagreen;
    letter-spacing: -1px;
}

.nav-item {
    display: flex;
    gap: 2rem;
    padding: 0 4em;

}

.nav-item div {
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
}

a {
    text-decoration: none;

}

.nav-item div a {
    color: lightseagreen;
    font-weight: 500px;
    letter-spacing: -1px;
}

.nav-item div a:hover {
    text-decoration: underline;
}

.nav-item div:hover {
    font-weight: bold;
    transition: 0.5s;
}